<html>
<body> 

<h1>Add restaurant</h1> 

<div>
	<form th:action="@{/web/restaurants}" method="POST"
	      th:object="${form}">
		<div> 
			<label>Name</label>
			<input type="text" th:field="*{name}" required>
		</div>
		<div> 
			<label>Location</label>
			<input type="text" th:field="*{location}" required>
		</div>
		<button type="submit">Add restaurant</button>
	</form>
</div>

<p><a href="/web/restaurants">Restaurants list</a></p>  
<p><a href="/web/restaurants?add">Add a restaurant</a></p>  
										
</body> 
</html>